*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.nav-link{
    text-decoration: none;
    color: black;
    padding-left: 30px;
}
.left{
    text-decoration: none;
    color: black;

}
section .intro{
    display: block;
}

.intro-text{
    width: 40%;
}

header{
    position: sticky;
    top: 0;
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
}
nav ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;

}

.descript{
    display: grid;
}

main{
    width: 100%
}

section div{
    display: inline-grid;
    padding: 50px;
}

nav#nav-bar{
    display: flex;
}

h2.title{
    padding: 1.0rem 2.5rem;
    font-size: xx-large;
}
h3.title{
    padding: 1.0rem 2.5rem;
}

.inv{
    font-size: larger;
}
h1{
    font-size: 1.5em;
}
ul{
    padding-left: 20px;
}