*{
    margin: 0;
    padding: 0;
}

.nav-link{
    text-decoration: none;
}
.left{
    text-decoration: none;
}
.home{
    font-family: "Sour Gummy", serif;
    float: left;
}
header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
}
nav ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
    justify-content: space-around;
}

.descript{
    display: grid;
}

main{
    padding: 200px 0;
}