*{
    margin: 0;
    padding: 0;
}

.nav-link{
    text-decoration: none;
    color: black;
    padding-left: 30px;
}
.left{
    text-decoration: none;
    color: black;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
}
nav ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;

}

.descript{
    display: grid;
}

main{
    padding: 200px 0;
}

section div{
    display: inline-grid;
    padding: 50px;
}